/*setup styles*/
body{
  background-color:#FEF9F4;
  padding-top: 80px;
  font-family: futura;
}
ul{
  list-style:none;
}
.quote{
  font-size: 1.5em;
  color: gray;
  font-family: 'Monaco', 'Helvetica';
}
p{
  color:#181F4A;
}
#overlay ul{
  color:#FEF9F4;
  display:inline-flex;
}

section{
  /*min-height:850px;*/
  padding-top:100px;
}

.button{
  margin: 10px 5px 0 0;
}

/*begin logo*/
#logo{
  font-family: futura;
  padding: 10px 0 0 0;
  width:100px;
  height: 100px;
  background-color: #181F4A;
  border-radius: 50%;
  font-size:4em;
  border: solid 3px lightgray;
  -moz-box-shadow:    0px 0px 2px 2px grey;
  -webkit-box-shadow: 0px 0px 2px 2px grey;
  box-shadow:         0px 0px 2px 2px grey;
}
#logo-text{
  color:lightgray;
  padding: 26px 0 0 18px;
}
/*end logo*/

.navigation ul{
  background-color: #FEF9F4;
}

.navigation{
  margin-top:-52px;
}

h2{
  text-align: center;
  margin-bottom:50px;
}

#home{
  padding-top:300px;
}

.nav{
  background-color: #FEF9F4;;
}

.small{
  font-size:2em;
  text-decoration: bold;
  color: #181F4A;
  /*opacity:.8;*/
}

.medium {
  font-size:3.5em;
  text-decoration: bold;
  color: #181F4A;
  /*opacity:.8;*/
}

.large{
  font-size:5em;
  text-decoration: bold;
  color: #181F4A;
  /*opacity:.8;*/
}

.text-container{
  width:80%;
  margin: 0 auto;
  text-align: center;
  margin-top:-50px;
  margin-bottom:30px;
}

a.active{
  background-color:darkgray;
  border-bottom: 2px solid #181F4A;
  color:white !important;
}


/*hr lines*/
.divide {
  margin-top:200px;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(3,7,34,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(3,7,34,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(3,7,34,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(3,7,34,0.75), rgba(0,0,0,0));
}
/*end hr lines*/

/* begin about section*/
.timeline {
  list-style: none;
  padding-top:5%;
  width: 50%;
  float:left;
}

.about-text {
  padding-top:9%;
  width: 40%;
  float:right;
  font-size:2em;
  line-height: 200%;
}

.year {
  /*float:left;*/
  font-size:3em;
  text-decoration: bold;
  color: #181F4A;
}
/*end about section*/


/*begin work section*/
#work{
  width:100%;
  margin:0 auto;
}

.projects-container{
  max-width:1100px;
  margin: 0 auto;
  height:500px;
}

.project{
  width: 300px;
  height: 168px;
  margin:0 1% 5% 1%;
  display: block;
  float:left;
  position:relative;
  opacity: 1;
}

.info{
  display:none;
  list-style: none;
/*  background-color:black;
  text-align: center;
  display: block;
  color:lightgray;*/
/*  font-style:thin;
  float:left;
  position:absolute;*/
/*  top:0px;*/
/*  height: 100%;
  width: 100%;*/
/*  opacity: 0;
  -webkit-transition: opacity .7s ease;*/
}

#overlay h3{
  text-align:center;
  color:white;
}

#infopar{
  display:none;
}

/*.info ul{
  color: white;
  font-size: 1em;
  margin: 0px 0 0 0px;
}*/

#content:hover .info{
/*  opacity: .8;
*/}
/*end work section*/


/*begin contact section*/
.last{
  height:800px !important;
}

#contact h2{
  margin-top:50px;
}

.contact {
  display: block;
  font-size: 1.5em;
  color: #555;
  font-family: Tahoma, sans-serif;
  padding: 4px 6px;
  margin-bottom: 10px;
}

.formtxt {
  display: block;
  width: 60%;
  min-width: 245px;
  height: 180px;
  font-family: Tahoma, sans-serif;
  color: #666;
  padding: 5px 8px;
  font-size: 1.6em;
  line-height: 1.4em;
}

form{
  padding-top: 60px;
}
/*end contact section*/


/*begin footer*/
.social-container {
  float:right;
  margin-top:-80px;
}

.social {
  width:50px;
  height: 50px;
  display: inline;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: .5;
}

.social:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
  opacity: 1;
}

footer{
  color:grey;
  text-decoration:none;
  margin:150px 0 -50px 0;
}
/*end footer*/

/* jquery lightbox NO PLUGIN */
#wrapper {
    margin:0 auto;
    text-align:left;
    padding:25px;
}

#lightbox p {
    text-align:center;
    color:#FEF9F4;
    margin-right:20px;
    font-size:12px;
}

#lightbox {
    position:fixed;
     top:20%;
/*  width:100%;
    height:100%;
    text-align:center;
*/}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
    min-width:325px;
    min-height:175px;
    height:55%;
    width:90%;
}

#content{
  /*position:fixed;
  top:20%;
  left:0;*/
/*  width:100%;
*/ /* height:100%;*/
}

#overlay h4{
  color:#FEF9F4;
}

#overlay{
  position:absolute;
  opacity:.7;
  /*bottom:0;
  left:7%;
  bottom:30%;
  background-color: gray;*/
  width:90%;
  /*max-width:940px;
  min-width:325px;*/
/*  height:120px;
*/  bottom:0;
  /*text-align:center;
  opacity: 0;
  -webkit-transition: opacity .7s ease;*/
  background-color:black;
}

.project-info{
/*  display:none;
*/}

#lightbox-wrapper{
  position:relative;
}

.info li{
  display: inline;
}
