html {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: white;
  font-family: 'futura', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%;
}

#logo{
  margin-top:-45px;
  width:80px;
  height: 80px;
  background-color: #181F4A;
  border-radius: 50%;
  font-size:6em;
  border: solid 3px lightgray;
  transition: background-color 0.5s ease;
}

#logo-text{
  color:lightgray;
  padding-left: 16px;
}


.divide {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(3,7,34,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(3,7,34,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(3,7,34,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(3,7,34,0.75), rgba(0,0,0,0));
}

.project{
  width: 300px;
  height: 200px;
  margin: 0 2% 0 2%;
  display: block;
  float:left;
  position:relative;
  opacity: 1;
}

.info{
  background-color:black;
  text-align: center;
  display: block;
  color:lightgrey;
  float:left;
  position:absolute;
  top:0px;
  height: 85%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s ease;
}

/*#stickynav #nav li a:hover
*/.info li {
  margin-left: -45px;
  font-size: 1.2em;
}

.project:hover .info{
  opacity: .8;
}

br { display: block; line-height: 2.2em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
/*img { border: 0; max-width: 100%; }
*/
#stickynav {
  display: block;
/*  z-index: 10;
*/  margin-top: -100px;
  margin-left: 60%;
  opacity: .7;
  color: #181F4A;
}

#stickynav #nav { position: fixed; z-index: 9999; }
#stickynav #nav li { display: inline; z-index: 9999; }
#stickynav #nav li a {
  display: block;
  color:black;
  float: left;
  margin-right: 8px;
  font-size: 1.5em;
  padding: 5px 7px;
  color: #181F4A;
}

#stickynav #nav li a:hover {
  text-decoration: none;
  border-bottom: solid 2px grey;
  opacity: 1;
  color: #181F4A;
}

.section {
  padding-top: 90px;
  height:650px;
}

.social-container {
  float:right;
  margin-top:-57px;
}

.social {
  width:50px;
  height: 50px;
  display: inline;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: .5;
}

.social:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
  opacity: 1;
}

h1 {
  font-family: 'futura', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #181F4A;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

footer{
  color:grey;
  text-decoration:none;
  margin-top:-140px;
}


p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
  color:#181F4A;
}

a { color: #5a9352; text-decoration: none; }
a:hover { text-decoration: underline; }

.contact {
  display: block;
  font-size: 1.5em;
  color: #555;
  font-family: Arial, Tahoma, sans-serif;
  padding: 4px 6px;
  margin-bottom: 10px;
}

.formtxt {
  display: block;
  width: 300px;
  height: 180px;
  font-family: Arial, Tahoma, sans-serif;
  color: #666;
  padding: 5px 8px;
  font-size: 1.6em;
  line-height: 1.4em;
}

#w {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding-top: 30px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 0px;
  padding-bottom: 35px;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
* html .clearfix { height: 1%; }
